*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color-primario: #2563eb;
    --color-primario-hover: #1d4ed8;
    --color-primario-oscuro: #1e40af;

    --color-fondo: #f4f7fb;
    --color-blanco: #ffffff;
    --color-texto: #222222;
    --color-texto-secundario: #333333;

    --color-gris-claro: #e5e7eb;
    --color-footer: #111827;

    --sombra: rgba(0,0,0,.08);
}

.navBar{
    display: flex;
    justify-content: space-between;

    width: 90%;
    max-width:1200px;


    margin: auto;

    align-items: center;

    padding:20px 0;

}

.navBar ul{
    display: flex;

    gap: 30px;
}

.logo{
    color: var(--color-primario);
}